flask
flask-restful
flask-jwt-extended
flask-sqlalchemy
flask-cors
Flask-Migrate
psycopg2
passlib
apispec
apispec-webframeworks
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
marshmallow_enum

webargs
faker
simplejson
validate_email

Py3DNS
PyYAML
enum34
argon2_cffi
