flask
flask-restful
flask-jwt-extended
flask-sqlalchemy
flask-cors
Flask-Migrate
psycopg2
passlib
apispec
apispec-webframeworks
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
webargs
faker
simplejson

PyYAML
